body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

.headerNav {
  text-align: center;
}
.headerLogo {
  margin-bottom: 10px;
  padding-top: 25px;
}
.LocalisationResto {
  display: flex;
  justify-content: center;
  background-color: grey;
}

.searchResto {
  text-align: center;
  padding: 1rem 1rem 4rem 1rem;
  background-color: rgb(220, 219, 219);
}
.buttonBtn {
  padding-top: 2rem;
}
.buttonSearch {
  padding: 16px 16px;
  background-color: #df6fdb;
}
.textSearch h1 {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5em;
}

.IconeLocalisation {
  margin: 1rem;
}

.containeurLoca {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Fonctionnement {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
}

.Fonctionnement h2 {
  width: 100%;
}
.containeurFct {
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
.buttonFct {
  margin-bottom: 10px;
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  text-align: center;
  box-shadow: 0.25rem 0.25rem 0.5rem #00000020;
  border-radius: 1.25rem;
}

.buttonIcn {
  padding: 1rem;
}
.containeurResto {
  padding: 1rem;
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 12rem 12rem 12rem 12rem;
}
.containeurResto a {
  border-radius: 1rem;
}
.restoSct {
  background-color: #f6f6f6;
}
.articleCard {
  height: 75%;
}
.articleCardImg {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.articleCardWrapimg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cardDesc {
  background-color: #ffffff;
  position: relative;
  height: 25%;
}
.cardDesc h5 {
  margin: 0;
}
.footer {
  background-color: #1b1919;
}

.logoFooter {
  color: rgb(247, 247, 252);
  font-style: italic;
  margin-top: 0;
}

.containeurFooter {
  padding: 1rem;
}
.containeurFooter a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.btnFooter p {
  margin: 5px;
}

.containeurHeaderMenu {
  display: flex;
  justify-content: space-between;
}
.containeurMenu {
  display: grid;
}

.headerImg {
  object-fit: cover;
  width: 100%;
  max-height: 30rem;
}

.chxMenu {
  border-radius: 0.75rem;
  background-color: #fff;
}

.mainMenu {
  background-color: #f6f6f6;
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
  padding-top: 0;
  position: relative;
}
